.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login {
  display: flex;
  justify-content: center;
  margin: 32px;
}

.energy-background {
  height: 512px;
}

.image-block {
  display: flex;
  padding-left: 112px;
  flex-direction: column;
  justify-content: center;
}
